
/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&family=Lato&display=swap');

/* CSS for HTML Body */
body {
  background-color: #FAF9F6;
  color: #000000;
  border: 1px solid #000000;
  font-size: 1.75vh;
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;
  text-align:center;
}

/* CSS for React Header*/
header {
  background-color: #FAF9F6;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
.headerWebsiteName {
  font-size: 10vh;
  padding: 0%;
  margin: 0%
}
.headerDescription {
  font-size: 4vh;
  font-weight: bold;
  padding: 0%;
  margin-top: -0.5vh;
}

/* CSS for React Main */
main {
  background-color: #FAF9F6;
  color: #000000;
}
.mainPageDescriptor {
  font-size: 3vh;
  margin-bottom: -0.3%
}


/* CSS for Home Page */
.homePage{
  margin-top: 10%;
  margin-bottom: 19%
}

/* CSS for Descriptions Page */
.descriptionTitle  {
  text-align: left;
  margin: 0% 0% 0% 1%
}
.description {
  text-align: left;
  margin: 1% 5% 0% 10%;
}

/* CSS for About Page */
.aboutPage{
  margin-top: 2%;
  margin-bottom: 5%;
}
/* CSS for Loading Text*/
.LoadingText {
  font-size: 2vh;
}

/* CSS for HTML Forms */
label {
  font-size: 30px;
  font-weight: 600;
  margin-top:20px;
  margin: 1%;
}
input {
  font-family: 'Lato', serif;
  color: #000000;
  font-size: 110%;
  margin: 2% 0% 0% 0%
}
select {
  font-family: 'Lato', serif;
  color: #000000;
  font-size: 110%;
  margin: 2% 1% 0% 0.25%
}
button {
  margin-bottom: 1%;
  font-size: 110%;
}

/* CSS for Customize Page */
.customizeDescriptor {
  font-size: 5vh;
  margin-bottom: -0.8%
}

/* CSS for Customize Options Table*/
.wrapper {
  height:45vh;
  overflow:hidden;
  overflow-y: scroll;
  margin: 1% 1% 1% 1%;
}

table {
  border-collapse: collapse;
  margin:0 auto;
  width: 100%;
}

tr td, td th {
  color: #000000;
  font-family: 'Lato', serif;
  border: 1px solid #000000;
  padding: 8px;
}
th {
  font-size: 2.5vh;
  color: #000000;
  border: 1px solid #000000;
  font-weight: 700;
  padding: 4px;
  margin: 0% 0% 0% 0%;
  background-color: #faf9f6ee;;
}
tr:nth-child(odd){background-color:#faf9f685;}
tr:nth-child(even){background-color:#FAF9F6;}

/* CSS for the footer */
footer {
  font-size: 2vh;
  font-weight: bold;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 1px solid #000000;
}


