
/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&family=Lato&display=swap');


/* PAGE LAYOUT 
Body width / height are defined so they take up 100% of the viewport width/height
The "container" class is a div element that contains the header, main, navigatino, and footer for the webpage
This div element allows use of grid layout for the webpage display
*/
body {
  background-color: #000000;
  color: #000000;
  border: 1px solid #000000;
  font-size: 1.75vh;
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;
  text-align:center;
}


/* NAVIGATION */
nav {margin: 0.25% 0 0.25% 0;}
nav a {
  background-color: #7A6855;
  color:#ffffff;
  border: 1px solid #000000;
  -webkit-box-shadow: 5px 5px 5px 5px #000000; 
  box-shadow: 5px 5px 10px 5px #000000;
  font-size: 120%;
  font-family: 'Cinzel', serif;
  margin: 4px 10px 0px 4px;
  padding: 4px 4px 0px 4px;
  text-decoration: none;
  
}
/* Reverse the colors when hovering to give the user some interaction feedback.*/
nav a:hover {
  background-color: #A7ACA2;
  color: #000000;
}


/*"container" class is a div element that is the parent container for child elements header, main, navigation, and footer*/
.container {
  display: grid;
  height: 100vh;
  row-gap: 10px;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

/* HEADER AND FOOTER */
header {
  display: grid;
  place-items: center;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 11;

  background-color: #FAF9F6;
  color: #000000;
  border: 0px solid #000000;
  font-size: 10vh;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}

.websiteName {
  font-size: 10vh;
  font-weight: bold;
  padding: 0%;
  margin: 0%
}
/* headerDescription is a p element, but don't want the font-size to be the same as a normal p element*/
.headerDescription {
  color: #000000;
  font-size: 4vh;
  font-weight: bold;
  padding: 0%;
  margin-top: -4vh;
}

footer {
  display: grid;
  place-items: center;
  grid-row-start: 17;
  grid-row-end: 18;
  grid-column-start: 1;
  grid-column-end: 11;

  background-color: #FAF9F6;
  color: #000000;
  border: 0px solid #000000;
  font-size: 2vh;
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}

/* MAIN */
main {
  display: grid;
  place-items: center;
  grid-row-start: 5;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 11;
  justify-items: stretch;

  background-color: #FAF9F6;
  color: #000000;
  border: 1px solid #000000;
  padding: 0;
}
.pageDescriptor {
  font-size: 4vh;
  padding: 0%;
  margin: -6% 0% 0% 0%;
}

.customizeDescriptor {
  font-size: 6vh;
  padding: 0%;
  margin: 1% 0% -0.5% 0%;
}

.description {
  text-align: left;
  margin: 1% 5% 0% 10%;
}

.descriptionTitle  {
  text-align: left;
  margin: 0% 0% 0% 1%
}

/* TABLE */
/* Need to use a div wrapper in order for table scroll to work correctly */
.wrapper {
  height: 55vh;
  overflow:hidden;
  overflow-y: scroll;
  margin: 1% 1% 1% 1%;
}

table {
  border-collapse: collapse;
  margin:0 auto;
  width: 100%;
}

tr td, td th {
  color: #000000;
  font-family: 'Lato', serif;
  border: 1px solid #000000;
  padding: 8px;
}
th {
  font-size: 2.5vh;
  color: #000000;
  border: 1px solid #000000;
  font-weight: 700;
  padding: 4px;
  margin: 0% 0% 0% 0%;
  background-color: #faf9f6ee;;
}
tr:nth-child(odd){background-color:#faf9f685;}
tr:nth-child(even){background-color:#FAF9F6;}


/* FORM */
label {
  font-size: 30px;
  font-weight: 600;
  margin-top:20px;
  margin: 1%;
}
input {
  font-family: 'Lato', serif;
  color: #000000;
  font-size: 110%;
  margin: 2% 0% 0% 0%
}
select {
  font-family: 'Lato', serif;
  color: #000000;
  font-size: 110%;
  margin: 2% 3% 0% 0.25%
}


